* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-button {
  font-weight: bold;
  font-size: 20px;
  background-color: #a13030;
  border: 0px transparent;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  padding: 10px 20px 10px 10px;
  color: #ffffff;
  transition-duration: 0.2s;
  text-transform: uppercase;

  &:hover {
    background-color: #622323;
    scale: 0.95;
  }
}

.show-button {
  font-weight: bold;
  font-size: 15px;
  background-color: #a13030;
  border: 0px transparent;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px 20px;
  color: #ffffff;
  transition-duration: 0.2s;

  &:hover {
    background-color: #622323;
    scale: 0.95;
  }
}

.component-bg {
  background-color: #181010;
  border-radius: 10px;
  width: max-content;
}

.manage-stocks {
  padding: 15px 40px;
}

.or {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.investment {
  width: 400px;
  border: 1px #a04764 solid;
  width: 400px;
  padding: 20px 0px;
}

.investment-title {
  background-color: #88304e;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.investment-item {
  padding: 5px 0px;
  border: 1px #a04764 solid;
  padding: 5px 0px;
  color: #ffffff;
  &:hover {
    background-color: #f7373716;
  }
}

.investment-item-amount,
.investment-amount,
.investment-item-shares-count {
  text-align: right;
}

.doughnut {
  position: relative;
  width: 400px;
  padding: 30px;
}

.doughnut-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
